footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.bg-video {
	position: relative;
}

.videoContainer, .parametreExamen_videoContainer {
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
	background-size: cover;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 75%;
	background-image: none;
}

.videoMain, .parametreExamen_videoMain {
	margin: auto;
	position: absolute;
	z-index: -1;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -75%);
	visibility: visible;
	opacity: 1;
	width: 1833px;
	height: auto;
}

.examenDetailVideo {
	margin: auto;
	position: absolute;
	z-index: -1;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -75%);
	visibility: visible;
	opacity: 1;
	width: 300px;
	height: auto;
}

.parametreExamen_bgVideo {
	position: relative;
}

.center {
	text-align: center;
}

.recupPass, .recupReset, .videoWatching, .authentification, .inscription, .examenDetail {
	background-image: url('assets/img/photos/photo17@2x.jpg');
}

.videoWatching_video {
	display:block;
	margin: 0 auto;
}

.examenDetail_log {
	overflow: scroll;
}

.historique {
	background-image: url('assets/img/photos/archive.jpg');
}

.listeUtilisateurs {
	background-image: url('assets/img/photos/camera.jpg');
}

.monCompte {
	background-image: url('assets/img/photos/photo26@2x.jpg');
}

.bg-red {
	background-color:red;
}