<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServeurJEE</display-name>

  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/header.jsp</include-prelude>
      <include-coda>/WEB-INF/footer.jsp</include-coda>
    </jsp-property-group>
  </jsp-config>

  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.surveillance.tp.servlets.home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>com.surveillance.tp.config.InitialisationDAOFactory</listener-class>
  </listener>
</web-app>